@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');

@import "_settings";
@import "../bower_components/foundation/scss/foundation";

$topbar-height : 4rem;

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

body {
    background: #FFF;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.layout {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  @include  grid-row();
}


a {
    color: #030303;
    text-decoration: none;
}

input {
    border: 1px solid #CCC;
    background: #FFF; 
    width: 100%;
    padding: 1em;

    &.half-width {
        width: 49.5%;
        display: inline-block;
    }
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    font-weight: 200;
}

/**
*   Layouts
**/


/**
*   Structure
**/

.main-container {
    padding: 0em;
    margin: 0em;
    overflow: hidden;

    transition: transform 0.2s linear;
    
    &.left {
        transform: translateX(20em);
    }
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 20em;
    background: #e2e2e2;

    transform: translateX(-100%);
    transition: transform 0.2s linear;

    &.open {
        transform: translateX(0%);
    }
}

.topbar {
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 0px;
    height: $topbar-height;
    top: 0px;
    background: #FFF;
    border-bottom: 1px solid #c6c6c6;
    width: 100%;
    padding: 5px;
}

.filter {
    position: absolute;
    background: #e2e2e2;
    height: 100%;
    bottom: 0px;
    top: 0px;
    width: 100%;

    h3 {
        background: #FFF;
        position: relative;
        line-height: 4em;
        text-align: center;

    }

    .form {
        margin: 1em;

        input {
            &.half-width {
                background: url('../images/arrow.png') no-repeat 95% #FFF;
            }
            &.surface {
                margin-left: 1%;
            }
        }

        .slider {
            .bar {
                border-radius: 1em;
                background: #FFF;
                width: 100%;
                margin: 0 auto;
                min-height: 0.8em;
                border: 1px solid #CCC;
                margin-bottom: 0.2em;

                button {
                    &.less {
                        float: right;
                    }
                }
            }

            span {
                &.min {
                    float: left;
                    margin-left: 1%;
                }
                &.max {
                    float: right;
                    margin-right: 1%;
                }
            }
        }

        .type {
            width: 32.6%;
            margin-right: 1%;
            display: inline-block;
            background: #FFF;
            text-align: center;
            border: 1px solid #CCC;
            padding: 1em 0em;

            &.last {
                margin-right: 0%;
            }

            span {
                display: block;
            }
        }

        .submit {
            width: 100%;
            padding: 1em;
            background: #666;
            color: #FFF;
        }
    }
}



/**
*   Subpages
**/
.page {
  @include  grid-row();

  /* index */
  &.index{

    .spotlight {
        @include  grid-row();
        position: absolute;
        height: 350px;
        background: #CCC;
        padding: 5em 0em;
        top: $topbar-height;

        .fp-search {
            position: relative;
            text-align: center;
            width: 25em;
            margin: 0 auto;

            .logo {
                width: 20em;
                display: block;
                background: #FFF;
                line-height: 6em;
                margin: 0 auto 20px auto;
                border: 1px solid #CCC;

            }

            .search {
                width: 17em;
                margin: 0 auto;
            }
        }
    }
  }
}

/* list */

.offer-listing {
  position: absolute;
  top: 450px;
  bottom: 0px;
  overflow: hidden;
  @include  grid-row();
  .offer-list{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    @media #{$medium-only} {
      @include grid-column(6);
    }
    @media #{$large-up} {
      @include grid-column(8);
    }
  }
}

.items {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  @media #{$small-up} {
    @include  grid-row();
  }
  @media #{$large-up} {
    @include  block-grid(2);
  }
  .item {
    .image {
      height: 15em;
      background: #CCC;
      width: 100%;
      position: relative;

      .price {
        position: absolute;
        bottom: 2.5em;
        left: 0em;
        background: rgba(51,51,51,1);
        color: #FFF;
        padding: 1em;
      }

      .agent {
        position: absolute;
        bottom: -2.5em;
        right: 1em;
        width: 6em;
        height: 6em;
        border-radius: 50%;
        border: 3px solid #FFF;
        background: #CCC;
        text-align: center;
        color: #CCC;
      }
    }

    h2,h3 {
      font-size: 0.9em;
      margin: 2.2em;
      color: #666;
    }

    h2 {
      font-size: 1.1em;
      margin: 1.8em 1.8em -1.5em 1.8em;
      color: #333;
      font-weight: 400;
    }
  }
}


/* map */

#map {
    @media #{$small-only} {
      display: none;
    }
    @media #{$medium-only} {
      @include grid-column(6);
    }
    @media #{$large-up} {
      @include grid-column(4);
    }
    .map-canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      bottom: 0px;
    }
}

/* property */
.page.property {
    .slider {
        position: relative;
        margin-top: $topbar-height;

        .price {
            position: absolute;
            right: 0em;
            top: 7em;
            background: #333333;
            color: #FFF;
            padding: 1em;
        }

        .image {
            background: #CCC;
            min-height: 20em;
            width: 100%;
        }

        .nav {
            position: absolute;
            bottom: 1em;
            text-align: center;
            left: 0px;
            right: 0px;

            .bullet {
                background: #FFF;
                border: 1px solid #666;
                content: "";
                width: 1em;
                height: 1em;
                display: inline-block;
                border-radius: 50%;
                margin-right: 0.2em;

                &.active {
                    background: #CCC;
                    border: 1px solid #FFF;
                }
            }
        }
    }

    .details {
        margin: 1em 0em;
        .buttons {
            text-align: center;

        }
    }

    .map {
        margin-top: 0;

        img {
            width: 100%;
        }
    }

    .tabs {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .agent {
        margin-bottom: 0;
        padding: 1em;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        .image {
            width: 5em;
            background: #eee;
            border-radius: 50%;
            height: 5em;
            float: left;
            margin-right: 1.5em;
        }

        span {
            margin: 0.1em 0em 0.5em;
            display: inline-block;
        }
    }
}

/**
*   Media Queries
**/


/**
*   Page transitions
**/ 

/* staticPage */
.staticPage-enter {
    opacity: 0.01;
    transition: all .5s ease-in;
    transform: translateY(0%);
}

.staticPage-enter.staticPage-enter-active {
    opacity: 1;
}

.staticPage-leave {
    opacity: 1;
    transition: all .5s ease-in;
    transform: translateY(100%);
}

.staticPage-leave.staticPage-leave-active {
    opacity: 0.01;
}

/* example */
.default-enter {
    opacity: 0.01;
    transition: all .5s ease-in;
    transform: translateY(0%);
}

.default-enter.default-enter-active {
    opacity: 1;
}

.default-leave {
    opacity: 1;
    transition: all .5s ease-in;
    transform: translateY(100%);
}

.default-leave.default-leave-active {
    opacity: 0.01;
}


/* filter */
.filter-enter {
    transition: all .21s linear;
    opacity: 0.01;
}

.filter-enter.filter-enter-active {
    opacity: 1;
}

.filter-leave {
    transition: all .21s linear;
    opacity: 1;
}

.filter-leave.filter-leave-active {
    opacity: 0.01;
}

/* property */
.property-enter {
    transition: all .2s linear;
    transform: translateX(100%);
}

.property-enter.property-enter-active {
    transform: translateX(0%);
}

.property-leave {
    transition: all .2s linear;
    transform: translateX(0%);
}

.property-leave.property-leave-active {
    transform: translateX(-100%);
}

/* front */
.front-enter {
  transition: all .2s linear;
  transform: translateX(-100%);
}

.front-enter.front-enter-active {
  transform: translateX(0%);
}

.front-leave {
  transition: all .2s linear;
  transform: translateX(0%);
}

.front-leave.front-leave-active {
  transform: translateX(100%);
}
