// Main Stylesheet

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

// Injects all bower_component files automatically
// bower:scss
// endbower

// Injects all import files automatically
// [injector]
// [endinjector]

body {
    background: #FFF;
    font-size: 12px;
    font-family: Monaco, Consolas, "Courier New", monospace;
    color: #333;
}

a {
    color: #030303;
    text-decoration: none;
}

button {
    border: 1px solid #CCC;
    background: #FFF;

    span {
        margin: 0 5%;
    }
}

input {
    border: 1px solid #CCC;
    background: #FFF; 
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

/**
*   Structure
**/

.main-container {
    padding: 1em;
    transition: transform 0.2s linear;
    
    &.left {
        transform: translateX(15em);
    }
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 15em;
    background: #e2e2e2;

    transform: translateX(-100%);
    transition: transform 0.2s linear;

    &.open {
        transform: translateX(0%);
    }
}

.topbar {
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 0px;
    min-height: 4.5em;
    top: 0px;
    background: #FFF;

    button {
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        margin: 1em;

        &.filter-btn {
            right: 0px;
        }
    }
}

.filter {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #e2e2e2;
    z-index: 3;

    transform: translateY(100%);
    transition: transform 0.2s linear;

    &.open {
        transform: translateY(0%);
    }

    h3 {
        background: #FFF;
        position: relative;
        line-height: 4.5em;
        text-align: center;

        .close {
            position: absolute;
            right: 0px;
            line-height: 0;
            width: 2.5em;
            height: 2.5em;
            margin: 1em;
        }
    }
}

/**
*   Subpages
**/

/* index */
.spotlight {
    position: absolute;
    width: 100%;
    min-height: 24em;
    background: #e2e2e2;
    left: 0px;
    top: 0px;

    .fp-search {
        position: absolute;
        bottom: 4.5em;
        margin-left: -7.5em;
        left: 50%;
        text-align: center;
        width: 15em;
    
        .logo {
            width: 10em;
            display: block;
            background: #FFF;
            line-height: 4em;
            margin: 0 auto 40px auto;
            border: 1px solid #CCC;
            
        }

        .search {
            padding: 0.5em;
            width: 15em;
            margin: 0 auto;
        }
    }
}

/**
*   Page transitions
**/ 

.example-enter {
    opacity: 0.01;
    transition: all .5s ease-in;
    transform: translateY(0%);
}

.example-enter.example-enter-active {
    opacity: 1;
}

.example-leave {
    opacity: 1;
    transition: all .5s ease-in;
    transform: translateY(100%);
}

.example-leave.example-leave-active {
    opacity: 0.01;
}
